@page
@model Learning_Razor_Pages.IndexModel
@{
}
<main class="p2vw">
    <h1>Index Page</h1>
    <p>This website is created for learning purposes. For simplicity, a lot of things are done inappropriately.</p>
</main>